
@{
    ViewBag.Title = "Page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page2</h2>

<h3>Bad Password Maker.</h3>
<h4>Don't Use This</h4>
<form method="post" action="/Home/Page2">
    <label for="food">Favorite food: <input type="text" name="food" /></label>
    <label for="birthyear">Birth year: <input type="number" name="birthyear" /></label>
    <input type="submit" name="submit" value="Submit" />
</form>

<p>@ViewBag.genpassword</p>