@model IEnumerable<Homework8.Models.Genre>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Welcome to ArtWorks</h1>
    <p>ArtWorks hosts a collection of Artworks created by certain Artists, classified into Genres, by style, type and period.</p>
    <p>The pages above can be explored to display the different Artists, Artworks, and Classifications available in the database.</p>
    <p>The buttons below list the Artworks classified under each Genre.</p>
    <h3>Genres:</h3>
    <div class="btn-group">
    @foreach (var genre in Model)
    {
        <input type="button" class ="btn" value="@Html.DisplayFor(genreItem => genre.Name)" onclick="getWorks(@genre.GenreID)"/>
    }
    </div>
    <div id="displayContainer">

    </div>
</div>
@section scripts
{
    <script src="~/Scripts/getWorks.js"></script>
}
