@model IEnumerable<Homework8.Models.Genre>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Welcome to ArtWorks</h1>

    <div class="btn-group">
    @foreach (var genre in Model)
    {
        <input type="button" class ="btn" value="@Html.DisplayFor(genreItem => genre.Name)" onclick="getWorks(@genre.GenreID)"/>
    }
    </div>
    <div id="displayContainer">

    </div>
</div>
@section scripts
{
    <script src="~/Scripts/getWorks.js"></script>
}
