@{
    ViewBag.Title = "Home Page";
}

    <h1>Reginald's Ancient Antiquities Auction House</h1>
        

<div class="row">
    <div class="col-md-12">
        <p>Reginald's Auction House homes some of the most prestigious of random nickknacks from famous persons of all backgrounds and practices.</p>
        @Html.ActionLink("Bid On An Item","Create", "Bids")
    </div>
</div>